.field
  = f.label :name, t('shared.name')
  = f.text_field :name
.field
  = f.label :email, t('shared.email')
  = f.text_field :email
.field
  = f.label :phone, t('shared.phone')
  = f.text_field :phone
.actions
  = f.submit t('save')