<%= form_for(@alternative) do |f| %>
  <% if @alternative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternative.errors.count, "error") %> prohibited this alternative from being saved:</h2>

      <ul>
      <% @alternative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :count_votes %><br />
    <%= f.number_field :count_votes %>
  </div>
  <div class="field">
    <%= f.label :poll %><br />
    <%= f.text_field :poll %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
