.span9
  %h3.muted Assinantes (#{@admins.size})
  %table.table.table-hover
    %thead
      %tr
        %th Nome
        %th Email

    %tbody
      - @admins.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= link_to "", admin_admin_path(user), class: "icon-search"
          %td= link_to "", edit_admin_admin_path(user), class: "icon-pencil"
          %td= link_to "", admin_admin_path(user), method: :delete, confirm: "Tem certeza que deseja excluir?",  class: "icon-remove"

= content_for :sidebar, render(:partial => 'admin/sidebar')