<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @poll.question %>
</p>

<p>
  <b>Validity:</b>
  <%= @poll.validity %>
</p>

<p>
  <b>Multiple choice:</b>
  <%= @poll.multiple_choice %>
</p>

<p>
  <b>Slug:</b>
  <%= @poll.slug %>
</p>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
